.loginPage{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 245);
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 5vh;
    padding-top: 14vh;
}

.login-section{
    padding-top: 8vh;
    width: 40%;
}
.login-head{
    font-size: 0.7rem;
    padding-bottom: 1.2vh;
    
}
.placeholders{
    border: none;
    display: flex;
    width: 38vw;
    height: 4.5vh;
    border-radius: 2px;
    margin-bottom: 7px;
    font-size: 12px;
    padding-left: 0.8vw;


}
.placeholders:focus{
    outline: none;
}
.login-forgotPassword{
    font-size: 0.6rem;
    font-weight: 190;
    margin: 3vh 0;
    text-decoration: none;
}
.login-forgotPassword:hover{
    cursor: pointer;
}

.login-submitButton{
    background-color: black;
    color: aliceblue;
    width: 38vw;
    height: 4.5vh;
    font-size: 12px;
    
}
.login-submitButton:hover{
    cursor: pointer;
}

.register-section{
    display: flex;
    width: 40%;
}
.placeholders2{
    border: none;
    display: flex;
    width: 18vw;
    height: 4.5vh;
    border-radius: 2px;
    margin-bottom: 7px;
    font-size: 12px;
    padding-left: 0.8vw;


}
.register-placeholders{
    display: flex;
    width: 40vw;
    flex-wrap: nowrap;
    gap: 1vw;
}
.remember-me-text{
    padding-left: 5px;
    font-size: 14px;
}

.datePlaceholders{
    border: none;
    display: flex;
    width: 9vw;
    height: 4.5vh;
    border-radius: 2px;
    margin-bottom: 7px;
    font-size: 12px;
    padding-left: 0.8vw;
}

.date-section{
    display: flex;
    width: 40vw;
    flex-wrap: nowrap;
    gap: 1vw;
}

.datePlaceholders:focus{
    outline: none;
}