.homePageItem-container{
    height: 48vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.homeItem-img{
    height: 27vh;
    width: 16vw;
}
.homePageItem-content{
    font-size: 0.6rem;
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width:800px) {
    .homePageItem-content{
        display: none;
    }
    .homeItem-img{
        height: 17vh;
        width: 33vw;
    }
    .homePageItem-container{
        height: 30vh;
    width: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}