.homePage{
    width: 80vw;
    height: 100vh;
    padding-top: 6vh;
    
}
.homePageouter{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    background-color: rgb(247 247 247);
    height: 200vh;
}

.homePageContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}